.container {
    color: #555555;
    text-align: center;
    font-size: 14px;
}

.image {
    height: 300px;
    width: 100vw;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
}

.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.black { background-color: black; }

.gorilla {
    -webkit-mask-image: url(../assets/gorilla.png);
    mask-image: url(../assets/gorilla.png);
}

.cat {
    -webkit-mask-image: url(../assets/cat.png);
    mask-image: url(../assets/cat.png);
}

.dog {
    -webkit-mask-image: url(../assets/dog.png);
    mask-image: url(../assets/dog.png);
}

.fox {
    -webkit-mask-image: url(../assets/fox.png);
    mask-image: url(../assets/fox.png);
}

.rabbit {
    -webkit-mask-image: url(../assets/rabbit.png);
    mask-image: url(../assets/rabbit.png);
}

.detail {
    margin: 0 10px;
    max-width: 600px;
    line-height: 1.6;
}