.container {
    display: grid;
    gap: 40px 0;
}

.introduction {
    justify-self: center;

    display: flex;
    justify-content:center;
}

.exam {
    max-width: 800px;
    justify-self: center;
}
