.container {
    display: grid;
    grid-column: 1;
    gap: 40px;
    margin: 0 20px;
}

.submit {
    justify-self: center;

    width: 300px;
    height: 40px;
    background-color: #e7a23a;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.icon {
    height: 40px;
}