.container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 40px 0;
}

.header {
    margin: 20px 0 0 20px;
}

.introduction {
    justify-self: center;

    display: flex;
    justify-content:center;
}

.checkList {
    max-width: 800px;
    justify-self: center;
}

.footer {
    justify-self: center;
    margin-bottom: 20px;
}